@charset "utf-8";
/* CSS Document */

.job-bm-dashboard{}



.job-bm-dashboard .navs {
    width: 200px;
    /* display: inline-block; */
    /* vertical-align: top; */
    float: left;
}

.job-bm-dashboard .navs-content {
    margin-left: 210px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.job-bm-dashboard .navs-content .nav-head {
    font-size: 17px;
    font-weight: bold;
}





/* job-bm-my-account */

.job-bm-my-account{}


.job-bm-my-account .register,




.job-bm-my-account .login {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 49%;
}


.job-bm-my-account .login .login-username,
.job-bm-my-account .login .login-password{

}

.job-bm-my-account .login .login-username label,
.job-bm-my-account .login .login-password label{
    display: block;
}

.job-bm-my-account .login .login-remember{

}

.job-bm-my-account .login .login-remember label{

}


.job-bm-my-account input[type="text"],  .job-bm-my-account input[type="password"]{

    width: 230px;
}


.job-bm-my-account input[type="submit"] {

}


@media only screen and ( max-width: 767px ) {

    .job-bm-my-account .register, .job-bm-my-account .login {
        display: block;
        width: 90%;
    }


}





/* job-bm-my-jobs */


.job-bm-my-jobs {

}

.job-bm-my-jobs .single {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 10px 0;
}


.job-bm-my-jobs .single .title {
    display: inline-block;
    font-size: 15px;
    margin: 5px 0;
    text-decoration: none;
}

.job-bm-my-jobs .single .meta {
    display: block;
    font-size: 12px;
    margin: 5px 15px 5px 0;
    vertical-align: top;
}

.job-bm-my-jobs .single .edit-link {
    background: #37cd9d none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    margin-right: 10px;
    margin-top: 5px;
    padding: 7px 16px;
    text-decoration: none;
    vertical-align: top;
    border-radius: 3px;
}

.job-bm-my-jobs .single .delete-job {
    background: #ff5d3d none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    margin-top: 5px;
    padding: 7px 16px;
    border-radius: 3px;
}



.job-bm-my-jobs .paginate {
    margin: 30px 0;
    text-align: center;
}
.job-bm-my-jobs .paginate .page-numbers{
    background: #f0f0f0 none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #999;
    padding: 5px 10px;
    text-decoration: none;
}

.job-bm-my-jobs .paginate .current {
    border: medium none;
}

























