@charset "utf-8";
/* CSS Document */


.application-list{


}
.application-list a{
    text-decoration: none;


}
.application-search{}

.application-list .single{


}
.application-action{
    display: inline-block;
}

.application-action span{
    display: inline-block;
    margin: 0 2px;
    padding: 0 7px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.application-link{
    min-width: 45px;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
}
.job-link{
    display: block;
    text-decoration: none;
}
.application-card{
    margin: 0;
    border-bottom: 1px dashed #ddd;
    padding: 20px 0;
}
.card-top{
    background: #436affa8;
    padding: 10px 10px;
}
.card-body{
    padding: 10px;
    background: #f5f5f5;
}
.card-bottom{
    padding: 5px 10px;
    background: antiquewhite;
}

.application-rate{
    float: right;
    color: #ffd601e8;
    font-size: 17px;
    line-height: 20px;
}

.application-rate i{
    cursor: pointer;
}


.application-list .paginate {
    margin: 30px 0;
    text-align: center;
}
.application-list .paginate .page-numbers,
.application-list .paginate .page-numbers {
    color: #999;
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
}

.application-list .paginate .current {
    border: medium none;
}
.applicant-content{
    margin-bottom: 20px;
}

.applicant-name{
    font-weight: bold;
    /* margin-top: 15px; */
    width: 48%;
    display: inline-block;
    vertical-align: top;
}


.hire{

    margin-left: 15px;
}


.hire.hired{
    background: #FF9800;
    color: #fff;
}

.application-action span.trashed{
    background: #f96767;
    color: #fff;
}


.applicant-assets{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    text-align: right;
}