@charset "utf-8";
/* CSS Document */

.job-bm-registration-form{}
.job-bm-registration-form .errors{
  margin-bottom: 30px;
}
.job-bm-registration-form .errors .job-bm-error {
  color: #f0611a;
  /* font-size: 12px; */
  padding: 3px 10px;
  border-left: 3px solid #f0611a;
}


.job-bm-registration-form .success {
  color: #54c671;
  padding: 3px 10px;
  border-left: 3px solid #54c671;
}









@media only screen and (max-width: 992px ) {



}










