@charset "utf-8";
/* CSS Document */

.job-bm-archive .job-list {

}

.job-bm-archive .job-list a {
    text-decoration: none;
}

.job-bm-archive  .search-input {
	margin-bottom: 25px;
	background: #f2f2f2;
	padding: 10px;
}

.job-bm-archive  .search-input .option {
	padding: 10px 0px;
}

.job-bm-archive  .search-input .option.half {
	display: inline-block;
    width: 49.5%;
    text-align: center;
}





.job-bm-archive  .search-input .option.half input[type="search"] {
    width: 97%;
}

.job-bm-archive  .search-input .option label {
	display: inline-block;
	padding: 0 5px;
}

.job-bm-archive .search-input input[type="submit"]{
    width: 98%;
    margin: 0 auto;
    display: inherit;
}


.job-bm-archive .job-list .list-filter  {

}

.job-bm-archive .job-list .list-filter .filter {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ddd;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	display: inline-block;
	margin: 5px 5px;
	padding: 3px 20px;
}

.job-bm-archive .job-list .single {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px;
  padding: 10px 10px 15px 10px;
}

.job-bm-archive .job-list .single.featured {
  background: none repeat scroll 0 0 rgb(255, 248, 191);
}


.job-bm-archive .job-list .single .job-meta{}

.job-bm-archive .job-list .single .job-meta .meta-item{
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
}


.job-bm-archive .job-list .title {

  margin: 0 0 0 70px;
}

.job-bm-archive .job-list .title a {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  text-decoration: none;
}

.job-bm-archive .job-list .company-name{
    margin-left: 70px;
    margin-top: -8px;
}


.job-bm-archive .job-list .meta-list {
    margin-top: 40px;
    clear: both;
    display: block;
}

.job-bm-archive .job-list .job-meta {
    display: inline-block;
    font-size: 13px;
    margin: 15px 10px 0px 0;
    padding: 0px 0px;
    line-height: normal;
    border-radius: 3px;
}

.job-bm-archive .job-list .job-meta a{
  text-decoration: none;
  
}

.job-bm-archive .job-list .job_type a:visited{
}


.job-bm-archive .job-list .job_type a, .job-bm-archive .job-list .job_type i {
}
.job-bm-archive .job-list .job_type.freelance {
  background: none repeat scroll 0 0 rgb(70, 166, 255);
  
}
.job-bm-archive .job-list .job_type.full-time {
  background: none repeat scroll 0 0 rgb(46, 194, 116);

}

.job-bm-archive .job-list .job_type.internship {
  background: none repeat scroll 0 0 rgb(160, 102, 255);

}
.job-bm-archive .job-list .job_type.part-time {
  background: none repeat scroll 0 0 rgb(255, 194, 77);

}

.job-bm-archive .job-list .job_type.temporary {
  background: none repeat scroll 0 0 rgb(255, 87, 65);
}

.job-bm-archive .job-list .job_status, .job-bm-archive .job-list .job_status a:visited{

}

.job-bm-archive .job-list .job_status a, .job-bm-archive .job-list .job_status a:visited {

}

.job-bm-archive .job-list .job_status.open {
  background: none repeat scroll 0 0 rgb(58, 193, 112);
}

.job-bm-archive .job-list .job_status.closed {
  background: none repeat scroll 0 0 rgb(250, 50, 24);
  
}

.job-bm-archive .job-list .job_status.filled {
  background: none repeat scroll 0 0 rgb(73, 162, 237);
}

.job-bm-archive .job-list .job_status.re-open {
  background: none repeat scroll 0 0 rgb(47, 194, 249);
}

.job-bm-archive .job-list .job_status.expired {
  background: rgb(255, 65, 21) none repeat scroll 0 0;
}



.job-bm-archive .job-list .company_logo {
  display: inline-block;
  float: left;
  height: 60px;
  overflow: hidden;
  vertical-align: top;
  width: 60px;
}

.job-bm-archive .job-list .company_logo img {
  border-radius: 0;
  box-shadow: none;
}



.job-bm-archive .job-list .fa {
  padding-right: 5px;
}






.job-bm-archive  .paginate {
  margin: 30px 0;
  text-align: center;
}
.job-bm-archive  .paginate .page-numbers,
.job-bm-archive  .paginate .page-numbers {
  color: #999;
  font-size: 17px;
  padding: 7px 13px;
  text-decoration: none;
}

.job-bm-archive  .paginate .current {
  border: medium none;
}



.job-bm-archive .job-list .loading{
    text-align: center;
    color: #2875ec;
}


@media only screen and (max-width: 768px ) {

    .job-bm-archive .search-input .option.half {
        width: 100%;
    }


}



