@charset "utf-8";
/* CSS Document */



.application-single{


}

.application-single .preview-notice{
    background: #ffefbf;
    padding: 10px;
    margin-bottom: 30px;
    border-left: 3px solid #fdc51c;
}


.application-single a{
    text-decoration: none;


}
.application-search{}

.application-single .single{


}

.application-single .application-trash{
    opacity: 0.3;
}


.application-single .application-action{
    display: inline-block;
}

.application-single .application-action span{
    display: inline-block;
    margin: 0 2px;
    padding: 0 7px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}


.application-single .application-action .comments.active{
    background: #737373;
    color: #fff;

}
.application-single .comment-author-avatar{
    display: inline-block;
    /* float: left; */
    border-radius: 5px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.application-single .comment-author-avatar img{

    width: 100%;
    height: auto;
}


.application-single .application-link{
    min-width: 45px;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
}
.application-single .job-link{
    display: block;
    text-decoration: none;
}
.application-single .application-card{
    margin: 0;
    border-bottom: 1px dashed #ddd;
    padding: 20px 0;
}
.application-single .card-top{
    background: #42b591a8;
    padding: 10px 10px;
}
.application-single .card-body{
    padding: 10px;
    background: #f5f5f5;
}
.application-single .card-bottom{
    padding: 5px 10px;
    background: antiquewhite;
}

.application-single .application-rate{
    float: right;
    color: #ffd601e8;
    font-size: 17px;
    line-height: 20px;
}

.application-single .application-rate i{
    cursor: pointer;
}


.application-single .paginate {
    margin: 30px 0;
    text-align: center;
}
.application-single .paginate .page-numbers,
.application-single .paginate .page-numbers {
    color: #999;
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
}

.application-single .paginate .current {
    border: medium none;
}
.application-single .applicant-content{
    margin-bottom: 20px;
}

.application-single .applicant-name{
    font-weight: bold;
    /* margin-top: 15px; */
    width: 48%;
    display: inline-block;
    vertical-align: top;
}


.application-single .hire{

    margin-left: 15px;
}


.application-single .hire.hired, .application-single .hire:hover{
    background: #FF9800;
    color: #fff;
}

.application-single .application-action span.trashed, .application-single .application-action .trash:hover{
    background: #f96767;
    color: #fff;
}


.application-single .applicant-assets{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    text-align: right;
}


.application-single .comment-form-wrap .comment-text{
    width: 94%;
    margin: 0 auto;
    display: block;

}



.application-single .comment-form-wrap .comment-submit{
    width: 98%;
    margin: 10px auto;
    display: block;

}
.application-single .application-comments{
    display: none;
}

.application-single .write-reply{
    font-weight: bold;
    margin-bottom: 15px;
}

.application-single .replies{
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 15px;
}

.application-single .comment-author{
    font-weight: bold;
    /* float: left; */
    display: inline-block;
}

.application-single .comment-date{
    float: right;
    margin-bottom: 10px;
    font-style: italic;
}
.application-single .comment-content{
    display: block;
    clear: both;
    background: #eaeaea;
    padding: 010px;
    border-radius: 30px;
    border-top-left-radius: 0;
    margin-top: 15px;
}
.application-single .comment-list .comment{
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
