@charset "utf-8";
/* CSS Document */


.job-bm-applications{


}
.job-bm-applications a{
    text-decoration: none;


}
.application-search{}

.job-bm-applications .single{


}

.job-bm-applications .application-trash{
    opacity: 0.3;
}


.job-bm-applications .application-action{
    display: inline-block;
}

.job-bm-applications .application-action span{
    display: inline-block;
    margin: 0 2px;
    padding: 0 7px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}


.job-bm-applications .application-action .comments.active{
    background: #737373;
    color: #fff;

}


.job-bm-applications .application-link{
    min-width: 45px;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
}


.job-bm-applications .job-link{
    display: block;
    text-decoration: none;
}
.job-bm-applications .application-card{
    margin: 0;
    border-bottom: 1px dashed #ddd;
    padding: 20px 0;
}
.job-bm-applications .card-top{
    background: #42b591a8;
    padding: 10px 10px;
}
.job-bm-applications .card-body{
    padding: 10px;
    background: #f5f5f5;
}
.job-bm-applications .card-bottom{
    padding: 5px 10px;
    background: antiquewhite;
}

.job-bm-applications .application-rate{
    float: right;
    color: #ffd601e8;
    font-size: 17px;
    line-height: 20px;
}

.job-bm-applications .application-rate i{
    cursor: pointer;
}


.job-bm-applications .paginate {
    margin: 30px 0;
    text-align: center;
}
.job-bm-applications .paginate .page-numbers,
.job-bm-applications .paginate .page-numbers {
    color: #999;
    font-size: 17px;
    padding: 7px 13px;
    text-decoration: none;
}

.job-bm-applications .paginate .current {
    border: medium none;
}
.job-bm-applications .applicant-content{
    margin-bottom: 20px;
}

.job-bm-applications .applicant-name{
    font-weight: bold;
    /* margin-top: 15px; */
    width: 48%;
    display: inline-block;
    vertical-align: top;
}


.job-bm-applications .hire{

    margin-left: 15px;
}


.job-bm-applications .hire.hired, .job-bm-applications .hire:hover{
    background: #FF9800;
    color: #fff;
}

.job-bm-applications .application-action span.trashed, .job-bm-applications .application-action .trash:hover{
    background: #f96767;
    color: #fff;
}


.job-bm-applications .applicant-assets{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    text-align: right;
}


.job-bm-applications .comment-form-wrap .comment-text{
    width: 94%;
    margin: 0 auto;
    display: block;

}



.job-bm-applications .comment-form-wrap .comment-submit{
    width: 98%;
    margin: 10px auto;
    display: block;

}
.job-bm-applications .application-comments{
    display: none;
}

.job-bm-applications .write-reply{
    font-weight: bold;
    margin-bottom: 15px;
}

.job-bm-applications .replies{
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 15px;
}

.job-bm-applications .comment-author{
    font-weight: bold;
    float: left;}

.job-bm-applications .comment-date{
    float: right;
    margin-bottom: 10px;
    font-style: italic;
}
.job-bm-applications .comment-content{
    display: block;
    clear: both;
    background: #eaeaea;
    padding: 010px;
    border-radius: 30px;
    border-top-left-radius: 0;
}
.job-bm-applications .comment-list .comment{
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
