@charset "utf-8";
/* CSS Document */

.job-bm-dashboard{}



.job-bm-dashboard .navs {
    width: 200px;
    /* display: inline-block; */
    /* vertical-align: top; */
    float: left;
}

.job-bm-dashboard .navs .current {


}

.job-bm-dashboard .navs .current a{
    font-weight: bold;
    /*text-decoration: underline;*/
}

.job-bm-dashboard .navs a {
    text-decoration: none;
}
.job-bm-dashboard .navs li {
}

.user-stats{
    margin: 15px 0;
}




.job-bm-dashboard .navs-content {
    margin-left: 210px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.job-bm-dashboard .navs-content .nav-head {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}



.job-bm-dashboard .register,




.job-bm-dashboard .login {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 49%;
}


.job-bm-dashboard .login .login-username,
.job-bm-dashboard .login .login-password{

}

.job-bm-dashboard .login .login-username label,
.job-bm-dashboard .login .login-password label{
    display: block;
}

.job-bm-dashboard .login .login-remember{

}

.job-bm-dashboard .login .login-remember label{

}


.job-bm-dashboard input[type="text"],  .job-bm-dashboard input[type="password"], .job-bm-dashboard select{

    width: 230px;
}


.job-bm-dashboard input[type="submit"] {

}


@media only screen and ( max-width: 767px ) {

    .job-bm-dashboard .register, .job-bm-dashboard .login {
        display: block;
        width: 90%;
    }


}



@media only screen and (max-width: 992px ) {
    .job-bm-dashboard .navs {
        width: 100%;
        float: none;
    }

    .job-bm-dashboard .navs-content {
        margin-left: 0px;
        border-left: 0px solid #ddd;

    }

}



















