@charset "utf-8";
/* CSS Document */

.job-bm-notice{
    display: none;
}

.job-bm-notice.has-notice{
    margin-bottom: 20px;
    background: #f5f5f5;
    padding: 10px 20px;
    display: block;
}

.job-bm-notice.success{
    border-left: 4px solid #159c2a;
}

.job-bm-notice.fail{
    border-left: 4px solid #e8d724;
}

.job-bm-notice.error{
    border-left: 4px solid #ff5d5d;
}
