@charset "utf-8";
/* CSS Document */

.job-bm-job-submit{}
.job-bm-job-submit .errors{
  margin-bottom: 30px;
}
.job-bm-job-submit .errors .job-bm-error {
  color: #f0611a;
  /* font-size: 12px; */
  padding: 3px 10px;
  border-left: 3px solid #f0611a;
}


.job-bm-job-submit .job-submitted{
  margin-bottom: 30px;
}

.job-bm-job-submit .success {
  color: #54c671;
  padding: 3px 10px;
  border-left: 3px solid #54c671;
}


.job-bm-job-submit .form-field-wrap{}
.job-bm-job-submit .form-field-wrap input[type="email"],
.job-bm-job-submit .form-field-wrap .range-slider,
.job-bm-job-submit .form-field-wrap input[type="text"], .job-bm-job-submit .form-field-wrap textarea, .job-bm-job-submit .form-field-wrap select{
  width: 91%;
}

.job-bm-job-submit .form-field-wrap select, .job-bm-job-submit .form-field-wrap .wp-editor-wrap, .job-bm-job-submit .form-field-wrap input[type="submit"]{
  width: 93%;
}

.job-bm-job-submit .form-field-wrap .field-title{
  width: 250px;
  float: left;
}

.job-bm-job-submit .form-field-wrap .field-input{
  margin-left: 250px;
}
.job-bm-job-submit .form-field-wrap .field-details{
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}


.job-bm-job-submit .qa-q-submitted{
  background: #f2f2f2 none repeat scroll 0 0;
  padding: 10px;
  margin-bottom: 30px;
}

.job-bm-job-submit .field-separator{
  /* border-top: 1px solid #ddd; */
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 7px 0px;
  /* background: #f1f1f1; */
  font-size: 16px;
  font-weight: bold;
}


.job-bm-job-submit .media-preview-wrap{
  width: 130px;margin-bottom: 10px;/* background: #eee; */padding: 0;text-align: center;box-shadow: none;line-height: normal;display: inline-block;vertical-align: middle;margin-right: 10px;
}


.job-bm-job-submit .media-upload, .job-bm-job-submit .media-clear{
  display: inline-block;
  border: 1px solid #ddd;
  padding: 2px 10px;
  border-radius: 3px;
  margin: 10px 0 0 0px;
  cursor: pointer;
  background: #f1f1f1;
}


@media only screen and (max-width: 992px ) {

  .job-bm-job-submit .form-field-wrap .field-title {
    width: 100%;
    float: none;
  }

  .job-bm-job-submit .form-field-wrap .field-input {
    margin-left: 0px;
  }

  .job-bm-job-submit .form-field-wrap .field-title {
    width: 100%;
    float: none;
    font-weight: bold;
    margin-bottom: 10px;
  }

}










