@charset "utf-8";
/* CSS Document */

.job-single{}


.job-single .job-preview-notice{
  background: #ffefbf;
  padding: 10px;
  margin-bottom: 30px;
  border-left: 3px solid #fdc51c;
}
.job-single .job-preview-notice .edit-link{
  float: right;
}



.job-single .job-meta-top{
  margin-bottom: 30px;
}

.job-single .job-meta-top .meta-item{
  margin: 5px 10px;
  font-size: 16px;
  display: inline;
}
.job-single .job-meta-top .featured{
  background: #fff8bf;
  padding: 4px 9px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}




.job-meta-company{
  margin-top: 45px;
}
.job-meta-company .company-logo{
  width: 90px;
  height: 90px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
.job-meta-company .company-name{
  font-size: 20px;
}
.job-meta-company .company-address,.job-meta-company .company-website{
  font-size: 14px;
}



.job-single .job-meta-info{
  margin-bottom: 30px;
  margin-top: 45px;
}

.job-single .job-meta-info .meta-item{
  margin-right: 20px;
  font-size: 16px;
  width: 45%;
  display: inline-block;
  margin: 5px 0;
}








.job-single .single-job-title {
  font-size: 28px;
  line-height: normal;
  margin: 30px 0;
}

.job-single .job-metas {
  margin: 20px 0;
}

.job-single .job-metas .job-meta {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  line-height: normal;
  border-radius: 3px;
}

.job-single .job-metas .job-meta.job_type a, .job-single .job-metas .job-meta.job_type i, .job-single .job-metas .job-meta.job_status a{
  color: #fff;
}




.job-single .job-metas .job-meta a {
  text-decoration: none;
}




.job-single .single-job-sidebar .section {
  clear: both;
  margin-bottom: 30px;
}

.job-single .single-job-sidebar .section .title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.job-single .single-job-sidebar .section .side-meta {
  font-size: 14px;
  line-height: normal;
  margin: 12px 0;
}



.job-single .single-job-sidebar .section .side-meta.company_name {
  font-size: 17px;
  margin-bottom: 15px;
}

.job-single .single-job-sidebar .section .side-meta.company_name img {
  border-radius: 0;
  box-shadow: none;
  float: left;
  height: auto;
  margin-right: 15px;
  vertical-align: top;
  width: 50px;
}

.job-single .apply-job {
  background: rgb(87, 178, 255) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 5px 10px;
  padding: 4px 10px;
  text-decoration: none;
  border-radius: 3px;
}


.job-single .single-job-details {

}

.job-single .single-job-details h3 {
  clear: none;
  display: block;
  margin-bottom: 20px;
}


.job-single .single-job-sidebar {

}




.job-single .single-job-sidebar .social-share .share-button {
  background: #f2f2f2 none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #999;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  line-height: normal;
  margin: 0 5px;
  text-align: center;
  width: 30px;
}

.job-single .single-job-sidebar .social-share .facebook {

}

.job-single .single-job-sidebar .social-share .twitter  {

}

.job-single .single-job-sidebar .social-share .google-plus  {

}





.job-single .clear {
  clear: both;
}

.apply-methods{}
.apply-methods .item{}
.apply-methods .method-header{
  border-radius: 3px;
  cursor: pointer;
  margin: 0 !important;
  outline: none;
  background: none;
  border: none;
  padding: 0 !important;
}
.apply-methods .method-header .method-name{
  background: #ececec;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 3px;
  margin: 10px 0 0 0;
}


.apply-methods .method-form{
  padding: 15px 20px;
  margin: 0px 0 0px 0;
  border: 1px solid #ececec;
  background: #ececec96;
}

.apply-methods .errors{
  margin-bottom: 30px;
}
.apply-methods .errors .job-bm-error{
  color: #f0611a;
  /* font-size: 12px; */
  padding: 3px 10px;
  border-left: 3px solid #f0611a;
}

.apply-methods .success {
  color: #54c671;
  padding: 3px 10px;
  border-left: 3px solid #54c671;
  margin-bottom: 30px;
}


.apply-methods .form-field-wrap{}
.apply-methods .form-field-wrap input[type="email"],
.apply-methods .form-field-wrap input[type="text"], .apply-methods .form-field-wrap textarea, .apply-methods .form-field-wrap select{
  width: 91%;
}

.apply-methods .form-field-wrap select, .apply-methods .form-field-wrap .wp-editor-wrap, .apply-methods .form-field-wrap input[type="submit"]{
  width: 93%;
}

.apply-methods .form-field-wrap .field-title{
  width: 250px;
  float: left;
}

.apply-methods .form-field-wrap .field-input{
  margin-left: 250px;
}
.apply-methods .form-field-wrap .field-details{
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}



.single-job-tags{
  margin: 30px 0;
}
.single-job-tags .tag-title{}
.single-job-tags .tag-link{}

.single-job-tags .tag-separator{}


@media only screen and (max-width: 768px ) {

  .job-meta-company .company-logo {
    float: none;
    margin-bottom: 15px;
  }

  .job-single .job-meta-info .meta-item{
    width: 100%;
  }

  .apply-methods .form-field-wrap .field-title{
    width: 100%;
    float: none;
  }

  .apply-methods .form-field-wrap .field-input{
    margin-left: 0px;
  }

}














