@charset "utf-8";
/* CSS Document */


.job-bm-media-upload .media-preview-wrap{
  width: 130px;
  margin-bottom: 10px;
  background: #d6d6d6;
  padding: 8px;
  text-align: center;
  box-shadow: none;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 4px;
  color: #a5a5a5;}


.job-bm-media-upload .media-upload, .job-bm-media-upload .media-clear{
  display: inline-block;
  border: 1px solid #ddd;
  padding: 2px 10px;
  border-radius: 3px;
  margin: 10px 0 0 0px;
  cursor: pointer;
  background: #f1f1f1;
}

.job-bm-media-upload .media-title{
  margin: 0px 0 10px 0px;
}










